@import "tailwindcss";
/* Disable default cursor */
body, * {
  /* cursor: none !important; */
}

/* Optional: Add hover states for specific elements */
a:hover ~ .cursor,
button:hover ~ .cursor {
  transform: scale(1.5) !important;
}

body {
  @apply bg-neutral-950 text-neutral-100 overflow-x-hidden;
}

::selection {
  @apply bg-emerald-400/30 text-emerald-400;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-emerald-400/30 rounded-full hover:bg-emerald-400/50;
}